%p#notice= notice
%section
  %h2= @article.title
  = simple_format @article.body
  %dl
    %dt #{Article.human_attribute_name :visibility}:
    %dd= @article.visibility.text

%section
  %h3 comments
  %ul
    - @article.comments.each do |comment|
      %li
        - if comment.visibility.secret?
          secret:
        %strong #{comment.name} say:
        = comment.body

= link_to 'Edit', edit_article_path(@article)
|
= link_to 'Back', articles_path
